name: "Build PHP CLI"

on:
  workflow_dispatch:
    inputs:
      os:
        required: true
        description: Build target OS
        default: 'macos-aarch64'
        type: choice
        options:
          - 'linux-x86_64'
          - 'linux-aarch64'
          - 'macos-x86_64'
          - 'macos-aarch64'
      debug:
        description: Show full build logs
        type: boolean
        default: false

# Laravel Herd compatible extensions (macOS)
# Note: Some extensions excluded due to build complexity or limited macOS support
env:
  EXTENSIONS: >-
    bcmath,bz2,calendar,ctype,curl,dba,dom,exif,ffi,fileinfo,filter,ftp,
    gd,gmp,iconv,igbinary,imagick,imap,intl,ldap,
    mbstring,mongodb,mysqli,opcache,openssl,pcntl,
    pdo,pdo_mysql,pdo_pgsql,pdo_sqlite,pgsql,phar,posix,readline,
    redis,session,shmop,simplexml,soap,sockets,sodium,
    sqlite3,sysvmsg,sysvsem,sysvshm,tokenizer,
    xml,xmlreader,xmlwriter,xsl,zip,zlib

jobs:
  build-cli-83:
    name: "PHP CLI 8.3 on ${{ inputs.os }}"
    uses: ./.github/workflows/build-unix.yml
    with:
      os: ${{ inputs.os }}
      php-version: '8.3'
      extensions: >-
        bcmath,bz2,calendar,ctype,curl,dba,dom,exif,ffi,fileinfo,filter,ftp,
        gd,gmp,iconv,igbinary,imagick,imap,intl,ldap,
        mbstring,mongodb,mysqli,opcache,openssl,pcntl,
        pdo,pdo_mysql,pdo_pgsql,pdo_sqlite,pgsql,phar,posix,readline,
        redis,session,shmop,simplexml,soap,sockets,sodium,
        sqlite3,sysvmsg,sysvsem,sysvshm,tokenizer,
        xml,xmlreader,xmlwriter,xsl,zip,zlib
      build-cli: true
      build-micro: false
      build-fpm: false
      build-frankenphp: false
      prefer-pre-built: true
      debug: ${{ inputs.debug }}
    secrets: inherit

  build-cli-84:
    name: "PHP CLI 8.4 on ${{ inputs.os }}"
    uses: ./.github/workflows/build-unix.yml
    with:
      os: ${{ inputs.os }}
      php-version: '8.4'
      extensions: >-
        bcmath,bz2,calendar,ctype,curl,dba,dom,exif,ffi,fileinfo,filter,ftp,
        gd,gmp,iconv,igbinary,imagick,imap,intl,ldap,
        mbstring,mongodb,mysqli,opcache,openssl,pcntl,
        pdo,pdo_mysql,pdo_pgsql,pdo_sqlite,pgsql,phar,posix,readline,
        redis,session,shmop,simplexml,soap,sockets,sodium,
        sqlite3,sysvmsg,sysvsem,sysvshm,tokenizer,
        xml,xmlreader,xmlwriter,xsl,zip,zlib
      build-cli: true
      build-micro: false
      build-fpm: false
      build-frankenphp: false
      prefer-pre-built: true
      debug: ${{ inputs.debug }}
    secrets: inherit
